In [1]:
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter
import numpy as np
import pandas as pd
import matplotlib.dates as mdates

Meteorological = pd.read_csv('Meteorological.csv')
Meteorological

          Date   Temp    WS
0   2014-10-01  27.82  3.20
1   2014-11-01  26.11  3.12
2   2014-12-01  24.46  3.51
3   2015-01-01  23.55  3.65
4   2015-02-01  24.50  3.52
..         ...    ...   ...
79  2021-05-01  28.88  5.48
80  2021-06-01  28.57  7.30
81  2021-07-01  28.73  7.25
82  2021-08-01  28.58  6.67
83  2021-09-01  28.19   NaN

[84 rows x 3 columns]

In [1]:
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters

register_matplotlib_converters()
%matplotlib inline

from matplotlib import rcParams
rcParams['figure.figsize'] = 60,20

x = Meteorological['Date']
y1 = Meteorological['Temp']
y2 = Meteorological['WS']

fig, ax1 = plt.subplots()

ax2 = ax1.twinx()

curve1 = ax1.plot(x, y1, label='Temp', color='g')
curve2 = ax2.plot(x, y2, label='WS', color='m')

ax1.set_xlabel("Date", fontsize=40)
ax1.set_ylabel("Temp °C", fontsize=40)

ax2.set_ylabel("WS m/s", fontsize=40)

ax1.tick_params(axis='x', labelsize=40)
ax1.tick_params(axis='y', labelsize=40)

ax2.tick_params(axis='y', labelsize=40)

formatter = mdates.DateFormatter("%Y-%m-%d")
ax1.xaxis.set_major_formatter(formatter)

locator = mdates.MonthLocator()
ax1.xaxis.set_major_locator(locator)

plt.grid(True)
plt.plot()
plt.show()

NameError: name 'Meteorological' is not defined